table {
    color: chartreuse;
}

[href="http://acjb.net/documents/manuels_vol/manuel_tecnam_p2002_jf.pdf"] {
    color: crimson;
}

.privet {
    color: darkblue;
}

#procedures {
    color: rgb(165, 64, 64);
}